<section>
  <div class="carousel" id="carousel">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner text-center">
        <div
          class="carousel-item active carousel-img-container"
          data-bs-interval="2000"
        >
          <figure>
            <img src="../../../assets/img/mtg1.png" alt="..." />
          </figure>
        </div>
        <div
          class="carousel-item carousel-img-container"
          data-bs-interval="2000"
        >
          <figure>
            <img src="../../../assets/img/mtg2.jpeg.png" alt="..." />
          </figure>
        </div>
        <div
          class="carousel-item carousel-img-container"
          data-bs-interval="2000"
        >
          <figure>
            <img src="../../../assets/img/mtg4.png" alt="..." />
          </figure>
        </div>
        <div
          class="carousel-item carousel-img-container"
          data-bs-interval="2000"
        >
          <figure>
            <img src="../../../assets/img/mtg9.jpeg" alt="..." />
          </figure>
        </div>
        <div
          class="carousel-item carousel-img-container"
          data-bs-interval="2000"
        >
          <figure>
            <img src="../../../assets/img/img1.jpeg" alt="..." />
          </figure>
        </div>
        <div
          class="carousel-item carousel-img-container"
          data-bs-interval="2000"
        >
          <figure>
            <img src="../../../assets/img/mtg8.jpeg" alt="..." />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="welcome-msg anim-typewriter">
    <h3>Welcome to MTG Deckbuilder!</h3>
  </div>
  <div class="welcome-msg-alternative">
    <h3>Welcome to MTG Deckbuilder!</h3>
  </div>
</section>
